<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Backbone.Flashback demo</title>

  <link rel="stylesheet" href="demo.css">
</head>
<body>

  <div id="posts-view"></div>

  <script type="text/template" id="posts-view-template">
    <% _.each( posts, function( post ) { %>
      <div class="post-view">
        <h1 style="color: <%= post.get( 'color' )%>;"><%= post.get( 'title' ) %></h1>
        <p><%= post.get( 'text' ) %></p>
      </div>
    <% }); %>
  </script>

  <script src="../vendor/jquery/jquery.js"></script>
  <script src="../vendor/underscore/underscore.js"></script>
  <script src="../vendor/backbone/backbone.js"></script>
  <script src="../src/flashback.js"></script>
  <script src="demo.js"></script>
</body>
</html>
